{% extends 'base.html' %}

{% block navblock %}
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'sell' %}">Sell Stocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'addstock' %}">Add Stock</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'stocks' %}">Stocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'addproduct' %}">Add Product</a>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" id="navlink"  
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Report</a>
    
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a id="navlink" class="dropdown-item" href="{% url 'report' %}">Total</a>
                <a id="navlink" class="dropdown-item" href="{% url 'productwisereport' %}">Product Based</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'logout' %}">Logout</a>
    </li>
{% endblock navblock %}

{% block content %}
    <div class="container">
        <div class="card" style="width: auto;">
            <div class="card-body">

                <form method="POST"> {% csrf_token %}

                <div class="container">
                    <div class="form-group row">
                        <div class="form-group col-md-4">
                            <label >From</label>
                            <input class="border border-primary" type="date" name="date1" style="padding: 5px; width: 280px;">
                        </div>
                        <div class="form-group col-md-4">
                            <label >To</label>
                            <input class="border border-primary" type="date" name="date2" style="padding: 5px; width: 280px;">
                        </div>
                        <div class="form-group col-md-4 col-sm-4">
                            <button type="submit" class="form-control btn btn-success">Search</button>
                        </div>
                    </div>
                </div>
                    
                    
                </form>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Rice</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount (kg)</th>
                            <th scope="col">Bosta</th>
                            <th scope="col">Print</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                            {% for each in sells %}
                                <tr>
                                    <th class="text-primary" scope="row">{{ each.customer }}</th>
                                    <td> {{ each.rice }} </td>
                                    <td>{{ each.time|date:'d-M-D-Y, h:i a' }}</td>
                                    <td>{{ each.amount }}</td>
                                    <td>{{ each.bosta }}</td>
                                    <td>
                                        <a class="form-control btn btn-primary" href="{% url 'customerpdf' each.id %}">Print</a>
                                    </td>
                                </tr>
                            {% endfor %}
    
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <th>Total</th>
                                <th>{{ totalamount }}</th>
                                <th>{{ totalbosta }}</th>
                            </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}