{% extends 'base.html' %}

{% block navblock %}
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'addstock' %}">Add Stock</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'stocks' %}">Stocks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'addproduct' %}">Add Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navlink" href="{% url 'logout' %}">Logout</a>
    </li>
{% endblock navblock %}

{% block content %}

    <div class="container">
        <div class="card" style="width: 100%">
            <div class="card-body">
                
                <form method="POST"> {% csrf_token %}
                    <div class="form-row">
                        <input name="search" class="form-control col-md-11" type="text" placeholder="Search">
                        <button type="submit" class="form-control btn btn-primary col-md-1">Search</button>
                    </div>
                </form>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Rice</th>
                        <th scope="col">Choose</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if searchedproducts %}
                            {% for each in searchedproducts %}
                                <tr>
                                    <th scope="row">{{ each.product }}</th>
                                    <td><a href="{% url 'sellstock' each.id %}" class="btn btn-primary">Sell</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            {% for each in products %}
                                <tr>
                                    <th scope="row">{{ each.product }}</th>
                                    <td><a href="{% url 'sellstock' each.id %}" class="btn btn-primary">Sell</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        
                   
                    </tbody>
                </table>
            </div>
        </div>
{% endblock content %}